.main-picture {
  width: 30%;
  height: 20%;
}
.navigation-button {
  float: left;
}
.navigation-wrapper {
  overflow: hidden;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.navigation-link {
  display: block;
  color: black;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}
